/**
 * Blog
 */

.news-feed {
    padding-bottom: $default_page__padding_bottom;
    padding-top: $default_page__padding_top;

    @include mediaMaxWidth(md){
        margin-left: auto;
        margin-right: auto;
    }
    @include mediaBetween(xs,md){
        max-width: #{700px + $gutter};
    }
    @include mediaMaxWidth(xs){
        max-width: #{350px + $gutter};
    }

    &__title {
        border-bottom: 1px solid $general_borderColor;
        margin-bottom: 60px;
        padding-bottom: 15px;
    }
    &__item {
        padding-bottom: #{$gutter};
        padding-top: #{$gutter};
    }
}