/**
 * Default template
 */

.default-page {
    padding-bottom: 60px;
    padding-top: 75px;

    &__header {
        margin-bottom: 60px;
    }
    &__title {
        border-bottom: 1px solid $general_borderColor;
        padding-bottom: 15px;
    }
}