/**
 * Accordion 
 */

.accordion {
    $c: &;
    
    border-bottom: 1px solid $light_gray;
    margin: 0;

    &__header {
        background: $white;
        border-top: 1px solid $light_gray;
        cursor: pointer;
        font-weight: $text_bold;
        margin: 0;
        padding: 20px 0;
        position: relative;
        transition: color $global_transition;

        &::before,
        &::after {
            background: $dark_gray;
            content: '';
            display: block;
            position: absolute;
            transition: all $global_transition;
        }
        &::before {
            height: 2px;
            right: 0;
            top: 28px;
            width: 18px;
        }
        &::after {
            height: 18px;
            right: 8px;
            top: 20px;
            width: 2px;
        }

        &.is-active {
            &::after {
                opacity: 0;
            }
        }
        &:hover {
            @include mediaMinWidth($mobileBreakpoint){
                color: $dark_gray;
            }
        }
        &:focus-visible {
            box-shadow: $focus_default;
            z-index: 2;
        }
    }
    &__content {
        background: $white;
        margin-left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height $global_transition, padding $global_transition;

        &:before,
        &:after {
            content: '';
            display: block;
            height: 20px;
            width: 100%;
        }
    }
}