/**
 * Animations
 */

/*** Loader spinner ***/
.cs__spinner {
    animation: cs__spin $spinner_speed infinite linear;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $medium_gray;
    display: inline-block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-out;
    width: 30px;
    z-index: 30;

    &::before {
        animation: cs__spin $spinner_speed*2 infinite ease;
        border: inherit;
        border-radius: inherit;
        content: '';
        display: inline-block;
        height: inherit;
        left: -2px;
        position: absolute;
        top: -2px;
        width: inherit;
    }
}

@keyframes cs__spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/*** Animated blocks ***/
.cs__animated-block {
    backface-visibility: visible;
    opacity: 0;
    transition: opacity $animatedBlock_speed ease-in-out, transform $animatedBlock_speed ease-in-out;
    transition-delay: 0s;
    
    &--2 { transition-delay: $animatedBlock_delay; }
    &--3 { transition-delay: $animatedBlock_delay*2; }
    &--4 { transition-delay: $animatedBlock_delay*3; }
    &--5 { transition-delay: $animatedBlock_delay*4; }
    &--6 { transition-delay: $animatedBlock_delay*5; }
    &--7 { transition-delay: $animatedBlock_delay*6; }
    &--slide-bottom { transform: translate(0, $animatedBlock_shift); }
    &--slide-left { transform: translate(-$animatedBlock_shift, 0); }
    &--slide-right { transform: translate($animatedBlock_shift, 0); }
    &--slide-top { transform: translate(0, -$animatedBlock_shift); }
    &--visible {
        opacity: 1;

        &--slide-bottom,
        &--left,
        &--right,
        &--slide-top {transform: translate(0, 0); }
    }
}