/**
 * Buttons
 */

 %btn {
    @include getStyles($small);
    border: none;
    border-radius: 1px;
    display: inline-block;
    line-height: 1.5;
    min-width: 170px;
    padding: 10px 20px 9px;
    text-align: center;
    text-decoration: none;
    transition: $global_transition;
}
.cs__button {
    @extend %btn;

    &:not(&--transparent) {
        background: $black;
        color: $white;
    }
    &--transparent {
        background: transparent;
        color: inherit;
    }
    &:hover,
    &:focus {
        @include mediaMinWidth($mobileBreakpoint){
            background: $medium_gray !important;
            color: $white !important;
        }
    }
}


/**
 * Fields
 */
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {

    background-color: transparent;
    border: none;
    border-bottom-color: $general_borderColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0;
    color: $black;
    display: block;
    outline: none;
    padding: 10px 0;
    transition: all $global_transition;
    width: 100%;

    &[multiple] { height: auto; }

    &:hover,
    &:focus { padding-left: 10px; }
}
select {
    height: auto;

    &[multiple] { background: transparent; }
}
textarea {
    height: 170px;
    resize: none;

    &[rows] { height: 170px; }
}