/**
 * Typography 
 */

p {
    color: inherit;
    margin: 0 0 $general_margin;

    &:last-child { margin-bottom: 0 !important; }
}
a {
    transition: all $global_transition;
    
    &:before,
    &:after { transition: all $global_transition; }

    &:not([class]),
    &[class=""] {
        color: $general_linkColor;

        &:hover,
        &:focus {
            @include mediaMinWidth($mobileBreakpoint){
                color: $general_linkColorHover;
            }
        }
    }
    &.builtin {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            @include mediaMinWidth($mobileBreakpoint){
                color: $general_linkColorHover;
            }
        }
    }
}
hr {
    border-color: $general_borderColor;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: $general_margin*2 0;
}
code,
kbd {
    border: none;
    border-radius: 0;
    display: inline;
    padding: 1px 4px;
}
code {
    background-color: rgba($medium_gray, 0.05);
    color: $medium_gray;
}
kbd {
    background-color: rgba($dark_gray, 0.05);
    color: $dark_gray;
}
pre {
    color: $black;
    font-size: 87.5%;
    margin: $general_margin 0;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
q { quotes: '“' '”'; }
mark {
    background: rgba($medium_gray, .5);
    padding: 1px 4px;
}
address {
    font-style: italic;
    margin: 0 0 $general_margin;
}
blockquote {
    margin: 0 0 $general_margin;
}
figure {
    margin: 0 0 $general_margin;
}

/*** Headings ***/
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    font-weight: 700;
    margin: 0 0 $general_margin;
}
h1,.h1 {
    @include getStyles($h1);
}
h2,.h2 {
    @include getStyles($h2);
}
h3,.h3 {
    @include getStyles($h3);
}
h4,.h4 {
    @include getStyles($h4);
}
h5,.h5 {
    @include getStyles($h5);
}
h6,.h6 {
    @include getStyles($h6);
}


/*** Lists ***/
ol, ul {
    color: inherit;
    margin-bottom: $general_margin;
    margin-top: $general_margin;
    padding: 0 0 0 $general_margin*2;
    
    ol, ul {
        font-size: inherit;
        margin-bottom: $general_margin/2;
        margin-top: $general_margin/2;
    }
    li {
        margin: 0;
    }
}
dl {
    margin-bottom: $general_margin;
    margin-top: $general_margin;

    dt { margin: $general_margin/2 0; }
    dd {
        margin: 0 0 0 $general_margin*2;
    }
}


/*** Table ***/
table {
    border-collapse: collapse;
    border-radius: 0;
    margin: 0 0 $general_margin;
    width: 100%;
}
thead, tfoot {
    border: 1px solid $general_borderColor;
    
    th, td {
        font-weight: 700;
        padding: 0.5rem 0.625rem 0.625rem;
        text-align: left;
    }
}
thead {
    background: $general_borderColor;
}
tbody {
    border: 1px solid $general_borderColor;
    background-color: $white;

    th, td {
        padding: 0.5rem 0.625rem 0.625rem;
    }
}
tfoot {
    background: $light_gray;
}