// ************ Grid and breakpoints ************
$columns: 12;
$column_width: 70px;
$gutter: 30px;
$containerWidth: $column_width*$columns + $gutter*($columns + 1);

$breakpoints: (
    xs: 551,
    sm: 769,
    md: 1025,
    lg: 1201,
    xl: 1366
);
$mobileBreakpoint: 'md';


// ************ Global ************
$global_transition: 0.2s ease-in-out;


// ************ Colors ************
$black: #000;
$dark_gray: #595959;
$medium_gray: #919191;
$light_gray: #F5F5F5;
$white: #FFF;

// Functional colors
$focus: #0072C5;
$success: #009F53;
$error: #E2001B;

$color_chart: (
    'black': $black,
    'dark-gray': $dark_gray,
    'medium-gray': $medium_gray,
    'light-gray': $light_gray,
    'white': $white
);


// ************ Typography *************
$general_font: 'Open Sans', sans-serif;
$general_fontSize: $html_fontSize;
$general_color: $black;
$general_lineHeight: 1.5;
$general_margin: 1rem;

$general_borderColor: darken($light_gray, 5%);

$general_linkColor: $dark_gray;
$general_linkColorHover: $black;

$text_normal: 400;
$text_bold: 700;

$h1: (
    default: (
        'font-family': $general_font,
		'font-size': rem(48),
        'font-weight': $text_bold,
		'line-height': (60/48),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: (
		// 'font-size': rem(30),
		// 'line-height': (40/30),
    )
);
$h2: (
    default: (
        'font-family': $general_font,
		'font-size': rem(42),
        'font-weight': $text_bold,
		'line-height': (50/42),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: ()
);
$h3: (
    default: (
        'font-family': $general_font,
		'font-size': rem(32),
        'font-weight': $text_bold,
		'line-height': (40/32),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: ()
);
$h4: (
    default: (
        'font-family': $general_font,
		'font-size': rem(24),
        'font-weight': $text_bold,
		'line-height': (32/24),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: ()
);
$h5: (
    default: (
        'font-family': $general_font,
		'font-size': rem(21),
        'font-weight': $text_bold,
		'line-height': (28/21),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: ()
);
$h6: (
    default: (
        'font-family': $general_font,
		'font-size': rem(18),
        'font-weight': $text_bold,
		'line-height': (24/18),
        'margin-bottom': $general_margin,
        'margin-top': 0,
	),
    $mobileBreakpoint: ()
);
$small: (
    'font-size': rem(14)
);
$tiny: (
    'font-size': rem(12)
);


// ************ Animations *************
$spinner_speed: 0.75s;
$animatedBlock_speed: 0.8s;
$animatedBlock_delay: 0.2s;
$animatedBlock_shift: 30px;


// ************ Content *************
// Focus
$focus_default: 0px 0px 0px 2px $white, 0px 0px 0px 4px $focus, 0px 0px 6px 5px rgba($focus, .6);

// Header
$header_height: (
    default: 80px,
    $mobileBreakpoint: 70px
);
$header_logoWidth: (
    default: 275px,
    $mobileBreakpoint: 200px
);
$header_boxShadow: 0px 4px 16px rgba(2, 82, 140, 0.1);
$header_menuTransition: .4s;

// Default page
$default_page__padding_bottom: 60px;
$default_page__padding_top: 60px;